body {
	font-family: 'Raleway', "Helvetica Neue",Helvetica,Arial,sans-serif;
	
}

#infoDiv {
	position: fixed;
	right: 50px;
	top: 100px;
	height: 100px;
	width: 100px;
}

canvas {
	margin-bottom: -5px;
}

.vertical-align {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-align-items: center; /* Safari 7.0+ */
    align-items: center;
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    justify-content: center;
}

.layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
}


.info {
	display: none;
}

#layer-base {
    z-index: -1000;
}

.chartDiv {
	width: 800px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1000000;
	background-color: #EEE;
}

#top-bar{
	background-color: #2F4E6F;
	width: 100%;

}


body {
    background-color: #CCCCCC;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-brand {
	margin-bottom: 0;
	font-weight: bold;
	font-size: 1.5em;
}

.navbar-default .navbar-nav>li>a:Hover, .navbar-default .navbar-brand:Hover {
    color: #777;
}

.navbar-default .navbar-nav>.active>a {
	background-color: #eee;
	/*color: */
}


li:hover {
	background-color: #e7e7e7;
	color: #FFF;
}
/* Use mobile bootstrap menu always */
/*.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-collapse.collapse.in{
    display: block!important;
}
.navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.title-navbar{
	font: bold !important;
	color: white !important;
	font-size: 20px !important;
}*/
/* End force mobile boostrap */
