body {
	font-family: 'Raleway', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#infoDiv {
	position: fixed;
	right: 50px;
	top: 100px;
	height: 100px;
	width: 100px;
}

.layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

img, canvas {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -5px;
}

.info {
	display: none;
}

#layer-base {
	z-index: -1000;
}