html,body{
    margin:0;
    height:100%;
    overflow:hidden;
}
img{
    min-height:100%;
    min-width:100%;
    height:auto;
    width:auto;
    position:absolute;
    top:-50%; bottom:-50%;
    left:-50%; right:-50%;
    margin:auto;
}
